<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSV Uploader</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
                <a class="navbar-brand" href="#">CSV To Database (Beta version)</a>
              </nav>
    <div class="container">
        <div class=" nav justify-content-center" style="margin-top:100px;">
         <div class="card border-warning mb-3 " style="max-width: 20rem;">
                <div class="card-header"><h5>Upload csv file</h5></div>
                <div class="card-body">
                        <form action="/" method="post" enctype="multipart/form-data">
                            <input type="file" name="csv"><br><br>
                         <div class="text-center"><button type="submit" class="btn btn-lg btn-primary">submit</button></div>   
                        </form>
                </div>
          </div>
    </div><br>
    <%if(data){%>
    <div>
        <table class="table">
            <thead class="bg-info">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">ID</th>
                  <th scope="col">Country</th>
                  <th scope="col">Father's Name</th>
                  <th scope="col">Mother's Name</th>
                  <th scope="col">Test1</th>
                  <th scope="col">Test2</th>
                </tr>
            </thead>
            <tbody>
            <%for(var i=0;i< data.length;i++){%>
              <tr>
                <th scope="row"><%= i+1%></th>               
                <td><%= data[i].Name%></td>
                <td><%= data[i].ID%></td>
                <td><%= data[i].Country%></td>
                <td><%= data[i].FatherName%></td>
                <td><%= data[i].MotherName%></td>
                <td><%= data[i].Test1%></td>
                <td><%= data[i].Test2%></td>
              </tr>
              <%}%>
            </tbody>
        </table>
    </div>
    <%}%>
<br>
</body>
</html>